* {
  margin: 0;
  padding: 0;
}

@media (min-width: 1300px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px !important;
  }
}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

Button {
  outline: none !important;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar {
  height: 4px !important;
  width: 4px !important;

}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: #cccccc !important;
}

.cursor {
  cursor: pointer;
}



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

body {
  font-family: "Lato", sans-serif;
}

.text-ligh {
  color: #8b8b8b !important;
}

.text-sml {
  color: #8b8b8b !important;
  font-size: 14px !important;
}

.bg-purple {
  background: #6d4aae;
}

.headerWrapperFixed {
  background: #fff;
  left: 0;
  position: fixed;
  top: 0;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.headerWrapper {
  background: #fff;
  border-bottom: 1px solid #0000001a;
}

.headerWrapper .top-strip {
  padding: 8px 0;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  border: 1px solid #0000001a !important;
  border-radius: 7px !important;
  color: #000 !important;
  height: 50px;
  min-width: 170px;
  padding: 10px 15px !important;
  width: 170px;
  justify-content: flex-start !important;
  text-align: left;

}


.countryDrop .label,
.countryDrop .name {
  line-height: 16px;
  text-transform: capitalize !important;
}

.countryDrop .label {
  color: #0006 !important;
  font-size: 12px !important;
}

.countryDrop .name {
  color: #6d4aae !important;
  font-size: 14px !important;
  font-weight: 700;
}

.headerSearchWrapper {
  width: 58%;
  position: relative;
}

.headerSearch {
  background: #e5e5e5;
  border: 1px solid #0000000d;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
  position: relative;
  width: 100%;
}

.headerSearch input {
  background: #0000 !important;
  border: 0 !important;
  color: #000000b3;
  font-size: 16px;
  height: 37px;
  outline: none !important;
  padding: 0 20px !important;
  width: 100%;
}

.headerSearch button {
  border-radius: 50% !important;
  color: #000;
  height: 40px !important;
  min-width: 40px !important;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 40px !important;
  z-index: 100;
}

.part3 a {
  background-color: initial;
  color: #007bff;
  text-decoration: none;
}

.btn-round {
  border-radius: 30px !important;
}

.btn-blue {
  background: #6d4aae !important;
  color: #fff !important;
  font-weight: 600 !important;
  padding: 5px 20px !important;
}

.btn-blue,
button {
  text-transform: capitalize !important;
}


.cartTab .price {
  color: #000c;
  font-size: 16px;
  font-weight: 700;
}

header .part3 .circle {
  align-items: center;
  background: #ededed;
  border: 1px solid #0000001a !important;
  border-radius: 50% !important;
  color: #000;
  height: 45px !important;
  justify-content: center;
  min-width: 45px !important;
  width: 45px !important;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab .count {
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  height: 20px;
  position: absolute;
  right: -4px;
  top: -6px;
  width: 20px;
}

nav .navPart1 {
  flex: 0 0 17%;
  max-width: 17%;
  position: relative;
}

nav .allCatTab {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #2bbef9;
  border-radius: 50px;
}

nav .allCatTab * {
  color: #fff;
}

nav .allCatTab .text {
  font-size: 12px;
  font-weight: 600;
}


nav .navPart2 {
  flex: 0 0 83%;
  max-width: 83%;
}

.close {
  opacity: 1 !important;
  color: #000;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
}

nav .navPart2 ul {
  margin-bottom: 0;
}

nav .navPart2 ul li {
  position: relative;
  margin-right: 0 !important;
  padding-bottom: 20px;
}

nav .navPart2 ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #3e445a;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  transition: all 0ms ease-in-out;
}

nav .navPart2 ul li a img {
  width: 20px;
  height: 20px;
}

nav .navPart2 ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}

nav .navPart2 ul li .submenu a {
  display: block;
  width: 100%;
}

nav .navPart2 ul li .submenu {
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
  left: 0;
  min-width: 200px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 150%;
  transition: all .5s ease-in-out;
  visibility: hidden;
  z-index: 100;
}

nav .navPart2 ul li:hover .submenu {
  opacity: 1;
  top: 105%;
  visibility: inherit;
}

nav .navPart2 ul li .submenu a button {
  background: #fff;
  border-radius: 0 !important;
  color: #282828 !important;
  font-weight: 500 !important;
  justify-content: flex-start !important;
  text-align: left !important;
  text-transform: capitalize !important;
  width: 100%;
}

nav .navPart2 ul li .submenu a button:hover {
  background: #f1f1f1 !important;
}

.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;

}

.locationModal .MuiPaper-elevation h4 {
  font-size: 18px;
  font-weight: 600;
}

.locationModal .MuiPaper-elevation p {
  font-size: 13px;
}

.locationModal .countryList {
  margin-bottom: 0;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.locationModal .countryList li {
  list-style: none;
  width: 100%;
}

.locationModal .countryList li button {
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 10px 20px !important;
  text-transform: capitalize !important;
  width: 100%;
}

nav .navPart1 .sidebarNav {
  background: #fff;
  border: 1px solid #0000001a;
  left: 16px;
  padding-top: 18px;
  padding-bottom: 2px;
  position: absolute;
  top: 100%;
  border-radius: 0 0 0 7px;
  transition: all 0.5s;
  visibility: hidden;
  min-width: 225px;
  z-index: 100;
  opacity: 0;
}

nav .navPart1 .sidebarNav.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .sidebarNav ul li {
  position: relative;
}

nav .navPart1 .sidebarNav ul li:hover>a button span {
  color: #2bbef9;
}

nav .navPart1 .sidebarNav ul li button {
  color: #3e445a;
  justify-content: flex-start;
  text-align: left !important;
  text-transform: capitalize !important;
  padding: 9px 0 9px 25px;
  width: 100%;
}

nav .navPart1 .sidebarNav ul li button img {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}

nav .navPart1 .sidebarNav ul li {
  position: static;
}


nav .navPart1 .sidebarNav ul li .sub-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 0;
  padding-top: 1.25rem;
  list-style: none;
  background-color: #fff;
  border: 1px solid #0000001a;
  border-top: 0;
  border-radius: 0 0 7px 0;
  white-space: nowrap;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.25s cubic-bezier(0.28, 0.12, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.28, 0.12, 0.22, 1);
}

nav .navPart1 .sidebarNav ul li .sub-menu li a Button {
  color: #6a6c72;
}

nav .navPart1 .sidebarNav ul li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.homeBannerSection {
  position: relative;
  overflow: hidden;
}

.homeBannerSection * {
  outline: none !important;


}

.homeBannerSection .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-color: #444444;

}

.homeBannerSection .slick-arrow.slick-next {
  right: 25px !important;
}

.homeBannerSection .slick-arrow.slick-prev {
  left: 25px !important;
}

.homeBannerSection .slick-arrow.slick-next::before {
  font-family: FontAwesome !important;
  color: #fff;
}

.homeBannerSection .slick-arrow.slick-prev::before {
  font-family: FontAwesome !important;
  color: #fff;
}

.homeBannerSection img {
  border-radius: 6px;
}

.homeProducts {
  padding: 25px 0px;
  width: 100%;
}

.homeProducts .banner {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.viewAllBtn {
  padding: 8px 16px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px !important;
  color: #000 !important;
}

.viewAllBtn svg {
  font-size: 20px;

}

.productItem {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.productItem .badge {
  position: absolute;
  display: inline-block;
  padding: 7px 10px;
  top: 18px;
  left: 18px;
  z-index: 1;
}

.productItem .info {
  padding: 15px;
}

.productItem h4 {
  font-size: 14px;
  font-weight: 600;
}

.productItem .info .oldPrice {
  font-size: 18px;
  font-weight: 600;
  color: #c2c2d3;
  text-decoration: line-through;
}

.productItem .info .netPrice {
  font-size: 18px;
  font-weight: 600;

}


.productItem .actions {
  position: absolute;
  top: 15px;
  right: -100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  transition: all .3s ease-in-out;
}

.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  color: #3e445a !important;
  background-color: #fff;
  border: 1px solid #edeef5;
  border-radius: 50% !important;
  margin: 4px 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0, 0, 0 / 24%) !important;
}

.productItem .actions button svg {
  color: #000 !important;
  opacity: 0.8;
  pointer-events: none;
  font-size: 18px !important;
}

.productItem .actions button:hover {
  background: #233a96 !important;
}

.productItem {
  overflow: hidden;
}

.productItem:hover .actions {
  opacity: 1;
  right: 10px;
}

.product_row .item {
  border-right: 1px solid transparent !important;
}

.product_row .swiper-slide:last-child .productItem {
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.swiper {
  padding-right: 1px !important;
}

.badge-primary {
  background: #2bbef9 !important;
}